@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --base-color:#ffffff;
    --text-color:#000000;
    --primary-color:#ffc06e;
    --secondary-color:#8D8DFF;
    --color-1:#f9f6f3;
   --color-2:#f3f7f9;
    --color-3:#f6f3f9;
}

html{
    scroll-behavior: smooth;
    font-family: Poppins,'segoe UI', Tahoma,;
    color: var(--base-color);
    
}
 body{
    padding:1rem;
    background-color: var(--base-color);
 }
nav{
    width: 100%;
    background-color: var(--base-color);
    font-family: Poppins,merriweather,'segoe UI';
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    position:fixed;
    top: 0;
    left: 0;
    z-index:1000;
}



nav a {
    text-decoration: none;
    color: black;

}
nav a:hover{
    text-decoration: underline;
}

@media (max-width:600px){
    nav a{
        display: none;
    }
    nav a:first-child,
    nav a:last-child{
        display: block;
    }
}



main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color:antiquewhite;
   
}

.img-container{
    border-radius: 10px;
    margin-left: 5rem;
    background-color: var(--secondary-color);
    object-fit:cover;

}




.home{
    display: flex;
    gap: 4rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:var(--color-1);
    border-radius: 6px;
    color: var(--text-color);
    font-family: Poppins,merriweather,'segoe UI';
  
}

.text{
    font-size: 0.95rem;
}

.text h1{
    margin-bottom: 2rem;
}

.text p{
    margin-bottom: 3rem;
}

.text a{
    text-decoration: none;
    padding: 8px 8px 8px 8px ;
    margin-right: 1rem;
    color: var(--color-1);
    background-color: var(--primary-color);
    border-radius: 5px;
}

.AutoShow{
    animation: AutoShowAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes AutoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px)scale(0.3);
    }to{
        opacity: 1;
          transform: translateY(0)scale(1);
    }
}

@media (max-width:980px){
    .home{
        margin-top: 5rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

    .img-container{
        margin-left: 0rem;
    }

    .home .img-container{
        margin-top: 3rem;
        height: 100%;
    }

    .home .text a{
        display: flex;
        text-align: center;
        flex-direction: column;
        margin-bottom: 0.55rem;
    }


}


@media (max-width:600px){
    .home{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home .text{
        text-align: center;
        font-size: 1rem;
    }
    .home .text a{
        display: flex;
        justify-content: center;
        align-items: center;
         margin: 0rem 1rem 1rem 1rem ;
        flex-direction: column;
        margin-bottom: 1rem;
    }

     .img-container{
        height: 100%;
        width: 100;
        margin-top: 4rem ;
        margin-left: 3rem;
        margin-left: 0rem;
        
     }
    .img-container img{
        width: 100%;
        height: 100%;
    }

}

.skill{
    font-family: Poppins,merriweather,'segoe UI';
    display: flex;
    gap: 5rem;
    border-radius: 6px;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:var(--color-2);
    color: var(--text-color);
}

.text-container{
    margin-left: 3rem;
    margin-bottom: 3rem;

}
.text-container p{
    font-size: 1.25rem;
}

.text-container h1{
    margin-bottom: 3rem;
}

@media (max-width:600px){
    .skill{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%; 
    }
    .skill .text-container h1{
        margin: 4rem 0rem 3rem 0rem ;
        font-size: 1.65rem;
    }
    .text-container{
        margin: 2rem 2rem 2rem 2rem ;

    }
    .text-container p{
        font-size: 1.15rem;

    }

    .photo-container{
        width: 100%;
        height: 100%;;
    }
    .photo-container img{
         width: 100%;
        height: 100%;
        margin-bottom: 3rem;
        

}
}

.project{
    background-color: var(--color-3);
    margin-top: 2rem;
    border-radius: 6px;
    
}

.project h1{
    margin-top: 1rem;
    color: var(--text-color);
     text-align: center;
    font-family: Poppins,merriweather,'segoe UI';

}

.grid-grally{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-4 img-5";
    gap: 1rem;
}
.grid-grally img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    transition: 100ms ease;
}
.grid-grally img:hover{
    scale: 1.03;
}

@media (max-width:600px){
.grid-grally{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    border-radius: 10px;
}
.grid-grally img{
    transition: 100ms ease;
}
.grid-grally img:hover{
    scale:1.05;
}


}



.experience{
    text-align: center;
    margin-top: 3rem;
    width: 100%;
    color: var(--text-color);
    background-color: var(--color-2)

}

.experience h2{
    margin-top: 1rem;
}
details{
    margin-top: 1rem;
    background-color: var(--base-color);
    border-radius: 6px;
}
details summary{
    padding: 1rem;
    font-size: 1rem;
    font-family: Poppins,merriweather,'segoe UI';
}
details p{
    font-family: Poppins,merriweather,'segoe UI';
    padding: 0 2rem 2rem ;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
        font-family: Poppins,merriweather,'segoe UI';

}

footer a{
    text-decoration: none;
    color: var(--text-color);
}
footer a:hover{
    text-decoration: underline;
}
footer .link{
    display: flex;
    gap: 2rem;
}

footer .para{
    color:var(--text-color);
    font-size: 0.5rem;
    
}

@media (max-width:980px){
    footer .para{
        font-size: 0.68rem;
    }
}

@media (max-width:600px){
    footer .para{
        font-size:0.4rem ;
    }
}
